<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> index file</h1>
    <p> Hello <%=name %> </p>
    <p> Hello <%=locals.nambo %> </p> <!-- locals is an object reffering to the object sent by server . Nambo doesnot exist but it will not give error of not found as before-->
</body>
</html>