<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <style>
        body {
          font-family: "Lucida Sans", "Lucida Sans Regular";
        }
      </style>
</head>
<body>
    <h1> SIGN UP</h1>
    <form action="/user" method="post"> 
        <label> Full Name</label>
        <input type="text" required name="name" />
        <br><br>
        <label> Email </label>
        <input type="email" required name="email" />
        <br><br>
        <label> Password</label>
        <input type="password" required name="password" />
        <br>

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>